{% extends '@layout/default.html.twig' %}

{% block title %}
Logs
{% endblock %}

{% block content %}

{% for year, logs_by_year in logs %}
<h1>{{ year }}</h1>

    {% for month, logs_by_month in logs_by_year %}
    <h2>{{ month | date('F') }}</h2>

    <table class="table table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>Datetime</th>
                <th>Level</th>
                <th>Username</th>
                <th>Log</th>
            </tr>
        </thead>
        <tbody>
        {% for log in logs_by_month | reverse %}
            <tr class="log-{{ log.priority_name | lower }}">
                <td class="text-nowrap">{{ log.timestamp | date }}</td>
                <td class="text-nowrap">{{ log.priority_name }}</td>
                <td class="text-center">{{ log.extra.username | default('-') }}</td>
                <td>{{ log.message }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endfor %}

{% endfor %}

{% endblock %}
