{% extends '@layout/default.html.twig' %}

{% block title %}
    {{ path|split('/')|last }}
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin="">
{% endblock %}

{% block javascript %}
<script src="{{ asset('js/dm.min.js') }}"></script>
<script>
    window.app = {
        api: '{{ path("api.upload") }}',
        directory: '{{ path }}',
        types: []
    };
</script>
{% endblock %}

{% block content %}

{{ include("@app/breadcrumb.html.twig") }}

{% if permissions.write %}
<div>
    <button class="btn btn-primary" data-toggle="modal" data-target="#modal-upload">
        <i class="fas fa-file-upload"></i>
        Upload
    </button>
</div>
<hr>
{% endif %}

<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Last modified</th>
            <th class="text-right">Size</th>
            {% if permissions.delete %}
            <th></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for d in content.directories %}
        <tr>
            <td class="text-center">
                <i class="fas fa-folder"></i>
            </td>
            <td>
                <a href="{{ path('scan', {'path': d.getRelativePath()}) }}">
                    {{ d.getFilename() }}
                </a>
            </td>
            <td>
                <span title="{{ d.getReadableMTime() }}">
                    {{ d.getReadableMTime('%e %B %Y') }}
                </span>
            </td>
            <td></td>
            {% if permissions.delete %}
            <td></td>
            {% endif %}
        </tr>
        {% endfor %}
        {% for f in content.files %}
        <tr data-path="{{ f.getRelativePath() }}">
            <td class="text-center">
                <i class="far {{ f.getFontAwesomeIcon() }}" title="{{ f.getMimeType() }}"></i>
            </td>
            <td>
                {% if f.isImage() %}
                <a href="{{ path('view', {'path': f.getRelativePath()}) }}" data-target="#modal-view-image" data-toggle="modal" class="float-right text-muted" style="text-decoration: none;">
                    <i class="far fa-eye"></i>
                    View
                </a>
                {% elseif f.isGeoJSON() %}
                <a href="{{ path('view', {'path': f.getRelativePath()}) }}" data-target="#modal-view-geojson" data-toggle="modal" class="float-right text-muted" style="text-decoration: none;">
                    <i class="fas fa-search-location"></i>
                    View
                </a>
                {% endif %}
                <a href="{{ path('download', {'path': f.getRelativePath()}) }}">
                    {{ f.getFilename() }}
                </a>
                {% if f.isImage() %}
                    {% set exif = f.getEXIF() %}
                    {% if exif.DateTime is defined %}
                    <p class="mb-0 text-info small">
                        {{ exif.Make|default('?') }} &bull; {{ exif.Model|default('?') }} &bull; {{ exif.DateTime }}
                    </p>
                    {% endif %}
                {% elseif f.isGeoJSON() %}
                    <p class="mb-0 text-info small">
                        {% if f.getTitle() %}
                            {{ f.getTitle() }}<br>
                        {% endif %}
                        {{ f.getDescription() }}
                    </p>
                {% endif %}
                {% if f.getInfo() %}
                <p class="mb-0 text-info small">
                    {{ f.getInfo() }}
                </p>
                {% endif %}
            </td>
            <td class="text-nowrap">
                <span title="{{ f.getReadableMTime('%c') }}">
                    {{ f.getReadableMTime('%e %B %Y') }}
                </span>
            </td>
            <td class="text-nowrap text-right">{{ f.getReadableSize(0) }}</td>
            {% if permissions.delete %}
            <td class="text-nowrap text-center">
                {% if f.isRemovable() %}
                <a href="{{ path('api.file') }}" class="text-danger btn-delete" style="text-decoration: none;">
                    <i class="far fa-trash-alt"></i>
                    Delete
                </a>
                {% else %}
                <span class="text-muted" title="Permission denied" style="cursor: help;">
                    <i class="far fa-trash-alt"></i>
                    Delete
                </span>
                {% endif %}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<hr>

<p class="small text-muted">
    {{ content.directories|length }} directorie(s) and
    {{ content.files|length }} file(s)
</p>

{{ include("@app/modal-view/image.html.twig") }}
{{ include("@app/modal-view/geojson.html.twig") }}
{{ include("@app/modal-upload.html.twig") }}

{% endblock %}
